html,
body {
    margin: 0;
    padding: 0;

    font-family: Helvetica, "Trebuchet MS", Verdana, sans-serif;
}

.skyline {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
    margin: 1rem;
    background-color: #f9f9f9;
    border-radius: 0.5rem;
    border: solid 2px rgba(233, 233, 233, 0.5);
}

.left,
.right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0.5rem;
}

.right {
    align-items: center;
}

footer {
    margin: 1rem;
    text-align: center;
    color: #555;
}

.number {
    font-weight: bold;
    font-size: 1.4rem;
    line-height: 2rem;
}

.branch {
    line-height: 2rem;
}

.message {
    width: 100%;
    line-height: 1.5rem;
    background-color: #fff;
    color: #666;
    padding: 0.5rem;
    border: solid 1px #ddd;
    border-radius: 0.5rem;
    word-wrap: break-word;
    word-break: normal;
}

.createdAt {
    color: #555;
    width: 100%;
    line-height: 2rem;
    margin-left: 0.5rem;
}

a {
    text-decoration: none;
    color: #1E58F0;
    padding: 0 0.5rem;
    border-radius: 0.5rem;
}

footer {
    padding: 0.5rem;
}